<form action="{% url 'polls:vote' question.id %}" method="post"> <!--Para enviar elementos del formulario por seguridad se usa post-->
{% csrf_token %} <!--Con esta etiqueta evitamos ataques al formulario-->
<fieldset> <!--Es un conjunto de campos del formulario--> 
    <legend><h1>{{ question.question_text }}</h1></legend><!--Legend es un titulo-->
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    {% for choice in question.choice_set.all %}
        <input 
            type="radio" 
            name="choice"
            id="choice{{ forloop.counter }}" 
            value="{{ choice.id }}"
        >
        <label for="choice{{ forloop.counter }}">
            {{ choice.choice_text }}
        </label>
        <br>
    {% endfor %}
</fieldset> <!-- El forloop.counter es un atajo de django para acceder al numero actual de vueltas que tiene el ciclo-->
<input type="submit" value="Votar">
</form>

{% comment %} <h1>{{ question.question_text }}</h1>
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul> {% endcomment %} 